.sitename{
  float: left;
}


.menu{
  display: none;
}

li {

  float:right;
  display: inline-block;
}

.headerWrap{
  max-width: 1668px;
  margin: 0 auto;
}

ul{
  position: relative;
  float: right;
  top: 35px;
  right: 5%;
}
